slides>slide .slide-wrapper {
    text-align: left;
}
h1,h2,h3,h4,h5,h6,p {
    font-weight: normal;
    box-shadow: none;
    text-shadow: none;
    text-align: left;
}
h1 {
    text-shadow: rgba(0,0,0,.03) 2px 2px, rgba(0,0,0,.0285) 4px 4px, rgba(0,0,0,.0270) 6px 6px, rgba(0,0,0,.0255) 8px 8px, rgba(0,0,0,.0240) 10px 10px, rgba(0,0,0,.0225) 12px 12px, rgba(0,0,0,.0210) 14px 14px, rgba(0,0,0,.0195) 16px 16px, rgba(0,0,0,.0180) 18px 18px, rgba(0,0,0,.0165) 20px 20px, rgba(0,0,0,.0150) 22px 22px, rgba(0,0,0,.0135) 24px 24px, rgba(0,0,0,.0120) 26px 26px, rgba(0,0,0,.0105) 28px 28px, rgba(0,0,0,.0090) 30px 30px, rgba(0,0,0,.0075) 32px 32px, rgba(0,0,0,.0060) 34px 34px, rgba(0,0,0,.0045) 36px 36px, rgba(0,0,0,.0030) 38px 38px, rgba(0,0,0,.0015) 40px 40px;    
    font-size: 80px;
}
h2 {
    font-size: 45px;
}
.bg0 {background: linear-gradient(225deg, rgb(45, 195, 227) 0px, rgb(0, 163, 224) 100%);}
.bg1 {background: linear-gradient(45deg, rgb(234, 76, 137) 0px, rgb(238, 146, 197) 100%);}
.bg2 {background: linear-gradient(225deg, rgb(160, 148, 237) 0px, rgb(183, 129, 211) 100%);}
.bg3 {background: linear-gradient(45deg, rgb(110, 192, 110) 0px, rgb(80, 204, 122) 100%);}
.bg4 {background: linear-gradient(45deg, rgb(110, 192, 110) 0px, rgb(80, 204, 122) 100%);}
.bg5 {background: linear-gradient(225deg, rgb(239, 126, 173) 0px, rgb(233, 105, 110) 100%);}
.bg6 {background: linear-gradient(225deg, rgb(244, 151, 86) 0px, rgb(237, 126, 88) 100%);}
.bg7 {background: linear-gradient(225deg, rgb(76, 195, 199) 0px, rgb(91, 182, 238) 100%);}
.bg8 {background: linear-gradient(45deg, rgb(110, 192, 110) 0px, rgb(80, 204, 122) 100%);}
.bg9 {background: linear-gradient(225deg, rgb(239, 126, 173) 0px, rgb(233, 105, 110) 100%);}
.bg10 {background: linear-gradient(225deg, rgb(76, 195, 199) 0px, rgb(91, 182, 238) 100%);}
.bg11 {background: linear-gradient(45deg, rgb(255, 160, 110) 0px, rgb(247, 115, 115) 100%);}
.bg12 {background: linear-gradient(45deg, rgb(85, 35, 171) 0px, rgb(191, 133, 252) 100%);}
.bg13 {background: linear-gradient(45deg, rgb(85, 35, 171) 0px, rgb(191, 133, 252) 100%);}

@font-face {
  font-family: 'Source Han Sans';
  src: url('../fonts/SourceHanSansCN-ExtraLight.otf');
  font-weight: normal;
  font-style: normal;
}
body {
    font-family: 'Source Han Sans', 'Noto Sans S Chinese',Helvetica, Tahoma, Arial, 'Hiragino Sans GB', STXihei, "Microsoft YaHei", SimSun, Heiti, sans-serif;
    background: url(../images/bg.png) repeat;
    background-color: #1f2c3c;
    transition: all 1s !important;
}
.slide {
    background: rgba(0,0,0,0)!important;
    /*background: linear-gradient(225deg, rgb(45, 195, 227) 0px, rgb(0, 163, 224) 100%)*/
} 

/*slides>slide .slide-wrapper strong {
    text-shadow: none;
    font-weight: bolder;
    color: #f5ff70;
}*/
p {
    font-size: 22px;
}